body {
    -webkit-font-smoothing: antialiased;
}

#preview-container {
    overflow-x: auto;
}

.delete-btn {
    opacity: 0;
    transition: opacity 0.2s;
}

.item-container:hover .delete-btn {
    opacity: 1;
}

#pdf-content {
    /* A4 portrait boyutları */
    width: 210mm;
    min-height: 297mm;
    box-sizing: border-box;
    background: white;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    /* Metinlerin taşmamasını sağla */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Veri eklendiğinde çalışacak animasyon */
@keyframes flashAdd {
    0% {
        transform: scale(1);
        background-color: transparent;
    }

    50% {
        transform: scale(1.02);
        background-color: #dcfce7;
    }

    /* Hafif yeşil (Tailwind green-100) */
    100% {
        transform: scale(1);
        background-color: transparent;
    }
}

.added-flash {
    animation: flashAdd 0.4s ease-out;
    border-radius: 8px;
}